@model Demo.RentalRepairs.WebMvc.Models.TenantEditViewModel

@{
    ViewData["Title"] = "Register Tenant";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Register">
          
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="SelectedPropertyCode" class="control-label"></label>
                <select asp-for="SelectedPropertyCode" asp-items="Model.PropertyList" class="form-control" id="Property"></select>
                <span asp-validation-for="SelectedPropertyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedUnitNumber" class="control-label"></label>
                <select asp-for="SelectedUnitNumber" asp-items="Model.UnitList" class="form-control" id="Unit"></select>
                <span asp-validation-for="SelectedUnitNumber" class="text-danger"></span>
            </div>
            <h5>Contact Info</h5>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="ContactInfo.FirstName" class="control-label">First Name</label>
                    <input asp-for="ContactInfo.FirstName" class="form-control" />
                    <span asp-validation-for="ContactInfo.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="ContactInfo.LastName" class="control-label">Last Name</label>
                    <input asp-for="ContactInfo.LastName" class="form-control" />
                    <span asp-validation-for="ContactInfo.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="ContactInfo.MobilePhone" class="control-label">Mobile Phone</label>
                    <input asp-for="ContactInfo.MobilePhone" class="form-control" placeholder="nnn-nnn-nnnn" />
                    <span asp-validation-for="ContactInfo.MobilePhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="ContactInfo.EmailAddress" class="control-label">Email Address</label>
                    <input asp-for="ContactInfo.EmailAddress"  class="form-control" readonly="@(true)"/>
                    <span asp-validation-for="ContactInfo.EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Requests">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    
        $('#Property').change(function () {

            var selectedProperty = $("#Property").val();
            var selectedUnit = $('#Unit');
            selectedUnit.empty();

            console.log("Hello world!");
            if (selectedProperty != null && selectedProperty !== '') {
                $.getJSON('@Url.Action("GetUnits")', { propCode: selectedProperty }, function (properties) {
                    if (properties != null && !jQuery.isEmptyObject(properties))
                    {
                        console.log("Hello world! 2 ", properties);
                        //selectedUnit.append($('<option/>', {
                        //    value: null,
                        //    text: "-- select unit --"
                        //}));
                        $.each(properties, function (index, unit) {
                            console.log("Unit: ", unit);
                            selectedUnit.append($('<option/>', {
                                value: unit.value,
                                text: unit.text
                            }));
                        });
                    };
                });
            }
        });
    </script>
}
