@model Demo.RentalRepairs.WebApi.Models.PropertyModel

@{
    ViewData["Title"] = "Register Property";
}

<h4>@ViewData["Title"]</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <h5>Property</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Code" class="control-label">Property Code</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group col-md-9">
                    <label asp-for="Name" class="control-label">Property Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="nnn-nnn-nnnn" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitsStr" class="control-label">Units</label>
                <input asp-for="UnitsStr" class="form-control" placeholder="unit_n1, unit_n2, ..." />
                <span asp-validation-for="UnitsStr" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Address</h5>
            <div class="form-group">
                <label asp-for="Address.StreetNumber" class="control-label">Street Number</label>
                <input asp-for="Address.StreetNumber" class="form-control" />
                <span asp-validation-for="Address.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetName" class="control-label">Street Name</label>
                <input asp-for="Address.StreetName" class="form-control" />
                <span asp-validation-for="Address.StreetName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 ">
                    <label asp-for="Address.City" class="control-label">City</label>
                    <input asp-for="Address.City" class="form-control" />
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Address.PostalCode" class="control-label">Zip/Postal Code</label>
                    <input asp-for="Address.PostalCode" class="form-control" />
                    <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                </div>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Superintendent</h5>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Superintendent.FirstName" class="control-label">First Name</label>
                    <input asp-for="Superintendent.FirstName" class="form-control" />
                    <span asp-validation-for="Superintendent.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="Superintendent.LastName" class="control-label">Last Name</label>
                    <input asp-for="Superintendent.LastName" class="form-control" />
                    <span asp-validation-for="Superintendent.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Superintendent.MobilePhone" class="control-label">MobilePhone</label>
                    <input asp-for="Superintendent.MobilePhone" class="form-control" placeholder="nnn-nnn-nnnn" />
                    <span asp-validation-for="Superintendent.MobilePhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Superintendent.EmailAddress" class="control-label">Email Address</label>
                    <input asp-for="Superintendent.EmailAddress" class="form-control" />
                    <span asp-validation-for="Superintendent.EmailAddress" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>

    </div>

</form>


@*<div>
    <a asp-controller="Home" asp-action="Index">Cancel</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
